GROQ_API_KEY=your-groq-api-key-here
GROQ_MODEL=llama-3.3-70b-versatile
APP_ENV=dev
LOG_LEVEL=INFO
MUNIT_REPORTS_DIR=./sample_reports
RAML_PATH=../mule-app/src/main/resources/api/calculator-api.raml
MULE_XML_DIR=../mule-app/src/main/mule
